/* Base Styles */ 
/*this sets the base font size it helps make all other sizes easy to manage*/
:root {                  
    font-size: 10px;
}
/*make sure padding dont mess your layout*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*sets the text font; text color and spacing below the body content*/
body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    color: #262626;
    padding-bottom: 3rem;
}
/*remove all space below images so they line up better*/
img {
    display: block; 
}
/*keeps content in center and add space on the left and right so it does not touch the edge of the screen*/
.container{
    max-width: 93.5rem;
    margin:0 auto;
    padding:0 2rem;
}
/*changes color when you move your mouse over the button and the cursor shows hand icon to show users its clickable*/
.btn:hover{
    display: inline-block;
    font:inherit;
    color:inherit;
    background-color: #18956b;
    cursor:pointer;
}
/*this hides things from users but keeps them visible for screen readers and it usually used by visually impaired users*/
.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    opacity: 0;
}
/*this adds space above and below the profile section*/
.profile{
    padding-top: 64px;
    padding-bottom: 64px; 
}
/*clear float trick, helps fix layout problems when using floats*/
.profile::after{
    content: "";
    display: block;                   
    clear:both
}
/*makes the profile picture appear on the left and centers the image inside its box*/
.profile-image{
   float:left;
   width: calc(33.33% - 12px);
   display:flex;
   justify-content: center;
   align-items: center;
   margin-right :3rem;
}
/*makes the image round with a colored border*/
.profile-image img {
    border-radius: 50%;
    border: 10px solid;
    color: #18956b;
    padding: 5px; 
}
/*helps line up these sections evenly using flexible layout*/
.profile-user-settings,
.profile-stats,
.profile-bio {
    flex: 2; 
}
/* It adds space inside the top and bottom of the profile stats section and pushes it to the right, so it’s nicely spaced and aligned next to the profile picture*/
.profile-stats{
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 100px;
}
/*this displays name and buttons in a row with spaces between them*/
.profile-user-settings {
    margin-top: 11px;
    display: flex;
    gap: 50px; 
    align-items: center;
    padding-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
}
/*styles the 'edit profile' buttom*/
 .profile-edit-btn{
    font-size: 15px;
    border: solid 1px;
    border-color: #262626;
    padding-left: 40px;
    padding-right: 40px;

 }
 /*it makes the settings button text a bit larger and removes border giving it a clean simple look*/
.profile-settings-btn{
    font-size: 15px;
    border: none;
}
/*changes color and size when you move your mouse over username*/ 
.profile-user-name:hover {
    color: #00ff51;
    font-size: large;
    display: inline-block;
    font-weight: 100;
    
}
/*displays each stat (like posts, followers) in a row instead of a list, makes the text a bit bigger, adds space between each item, and changes the cursor to a pointer to show it’s clickable.*/
.profile-stats li {
    display: inline-block;
    font-size: 18px;
    line-height: 1.5;
    margin-right: 64px;
    cursor: pointer;
}
/*it makes the bio text larger and adds space above it(36px) to separate from the content above*/
.profile-bio {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 36px;
}
/* Gallery grid*/
/*it has many functions like enabling css grid layout,equal share of space and space between grid items*/
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
    padding: 20px;
    justify-content: center;
}
/*needed for absolute positioning of children*/  
.gallery-item {
    position: relative;
}
/*it makes the image fill the entire width and uses object-fit cover to crop and resize the image so it fully covers the space without stretching it or losing its shape*/
.gallery-image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; 
}
/*hides info by default and shows it when hover over an image*/
.gallery-item-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
/*it places a lable or icon in the top right corner of the image, using absolute positioning, and adds a litlle padding around it for spacing*/
.gallery-item-type {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 5px;
}
/*shows when you hover over an image*/
.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #2724244d;
}
/*hides info by default*/
.gallery-item-info {
    display: none;
}
/*it shows info items like and comments next each other in a row, makes text medium sized and gives it a slightly bold look font weight*/
.gallery-item-info li {
    display: inline-block;
    font-size: 15px;
    font-weight: 450;
}
/*it adds space to the right of the likes icon*/
.gallery-item-likes {
    margin-right: 15px;
}
/*places an icon or label over the image*/
.gallery-item-type {
    position: absolute;
    top: 64px;
    right: 64px;
    font-size: 30px;
}
/*It tries to make the text color of gallery info and list items white so it shows up clearly on dark backgrounds.*/
.gallery-item-info,
  .li{ 
     color: #fafafa;
}
/*this stacks the gallery in one column on small devices*/
@media all and(max-width: 450px){
    .grid{
        columns: 200px;
    }
}
